.header__menu {
  position: relative;
  padding: 0;
  margin: 0;

  display: flex;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 12px;
    margin: 0;
    box-sizing: border-box;
    background: #E7E4DE;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
}
