.header__menu-button {
  padding: 0;
  margin: 0;
  display: none;
  width: 100%;
  max-width: 24px;
  height: 24px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  transition: opacity .3s;
}

.header__menu-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    display: flex;
  }
}
